node_modules/
shared/node_modules/
webview-settings/node_modules/
webview-sidebar/node_modules/
**/*/dist/
.vscode/
out
shared/out/
webview-settings/out/
webview-sidebar/out/
coverage/ 
shared/coverage/
webview-settings/coverage/
webview-sidebar/coverage/
shared/vite.config.ts
webview-settings/vite.config.ts
webview-sidebar/vite.config.ts
shared/vitest.config.ts
webview-settings/vitest.config.ts
webview-sidebar/vitest.config.ts