node_modules/
dist/
out/
coverage/
.vscode/
.vscode-test/
webview-ui/dist/
webview-ui/node_modules/
webview-ui/out/
webview-ui/src/tests/
webview-ui/src/setupTests.ts

webview-ui/coverage/
**/*.d.ts
src/tests/
src/setupTests.ts
esbuild.js
vitest.config.ts
vite.config.ts
