.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/.eslintrc.json
**/*.map
**/*.ts
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/public/>
webview-ui/*.config.ts
webview-ui/tsconfig*.json

# Keep webview dist
!webview-ui/dist/**
!dist/**
# Testing
coverage/
**/*.test.ts
vitest.config.ts
